target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/resources/schema.sql
!**/src/main/resources/sample_data.sql

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.stsprojects

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Operating System Files ###
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# HerCycle Log and Secret Exclusions
*.log
logs/
*.pem
build/
application-local.properties
.env
secrets/
passwords/
# *token*
# *apikey*
